# FEATURE ENGINEERING 04 (DATA ENCODING)

_________________________________________________________________________________________

# What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

In the label Encoding, the order of data is not so important. It encoding the data according to alphabats.While in Ordinal Encoding the order is most important thing and it encode the data according to numeric rank of the data.

- Example for selecting the ordinal encoding

let's say we have a review bar and the reviwes are like; better, bad, good, perfect 
then we can encode such data as rank of rioughtness;  perfect, better, good, bad

- example for selecting the label encoding

lets take the example of colurs like; white , black, red  , green
here order is not an importnat thing but the label encoder, encode such cetagorical data as black, green, red, white

 It is used when columns are less in a dataset.So that the repitation of the features must be less  and model not getting slow. Because the Ordinal encoder creat a individual feature for each. And use the

# Q. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

The target guided ordinal encoding, can only be apply for those categorical data which are assembled with a numerical data. That numerical data is called target data for that specific categorical data. And by going the first step, we calculate the mean of features and replace that mean with that specific categorical feature. This technique is called Target Guided Ordinal Encoding.

example; let's say df is a data set.

In [35]:
data= {'player_name': ['Sachine', 'Kapil', 'Virat', 'ali', 'sachine', 'ali'], 'Runs': [122,212,434,444,566,767]}
import pandas as pd
df=pd.DataFrame(data)
df

  player_name  Runs
0     Sachine   122
1       Kapil   212
2       Virat   434
3         ali   444
4     sachine   566
5         ali   767

In [36]:
mean=df.groupby('player_name')['Runs'].mean().to_dict()
mean

{'Kapil': 212.0,
 'Sachine': 122.0,
 'Virat': 434.0,
 'ali': 605.5,
 'sachine': 566.0}

In [37]:
df['player_name_encoded'] = df['player_name'].map(mean)

In [38]:
df

  player_name  Runs  player_name_encoded
0     Sachine   122                122.0
1       Kapil   212                212.0
2       Virat   434                434.0
3         ali   444                605.5
4     sachine   566                566.0
5         ali   767                605.5

# Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

covariance is a measure of the relationship between two random variables. 

- lets assume, there are two variable x and y. so if the coveriance of x and y is +ve then it's mean if x is increasing then y is also increasing, in the other words they are proportional to each other.

- But if the situation is just opposed, the coverience of x and y is in -ve then, the realtionship between them will also reverse, it will be inversaly propostional to each other, which means if x is increasing then y is decresing.

- for calculating the covarience there is a farmula ;

       cov(x,y)= n sigma i=1 . (Xi-X bar)* (Yi-Y bar)/ x-1

 
 - where Xi = data points of x, 
      X bar= Sample mean of x

# For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.Show your code and explain the output.

In [54]:
Data={'color': ['red', 'green', 'blue'], 'size': ['small', 'medium', 'large'], 'material': ['wood', 'metal', 'plastic']}

In [55]:
import pandas as pd 
df=pd.DataFrame(Data)
df

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [56]:
from sklearn.preprocessing import LabelEncoder

In [62]:
label= LabelEncoder()

In [67]:
label.fit_transform(df['color'])

array([2, 1, 0])

In [70]:
label.fit_transform(df['size'])

array([2, 1, 0])

In [69]:
label.fit_transform(df['material'])

array([2, 0, 1])

# Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Educatiolevel. Interpret the results.

In [77]:
data1= {'age': [22,24,25,20,19,30], 'income': [12000, 43000, 34000, 42000, 56000, 8000], 'educatiolevel':[13,16,12,21,15,17]}

In [80]:
import pandas as pd
df1=pd.DataFrame(data)
df1

   age  income  educatiolevel
0   22   12000             13
1   24   43000             16
2   25   34000             12
3   20   42000             21
4   19   56000             15
5   30    8000             17

In [82]:
df1.cov

<bound method DataFrame.cov of    age  income  educatiolevel
0   22   12000             13
1   24   43000             16
2   25   34000             12
3   20   42000             21
4   19   56000             15
5   30    8000             17>

# Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

# You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/east/West). Calculate the covariance between each pair of variables and interpret the results.

In [87]:
import pandas as pd

df = pd.DataFrame({
    'Temperature': [22,33,44,12,32],
    'Humidity': [66,65,76,45,60],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'North']
})
df

   Temperature  Humidity Weather Condition Wind Direction
0           22        66             Sunny          North
1           33        65            Cloudy          South
2           44        76             Rainy           East
3           12        45             Sunny           West
4           32        60            Cloudy          North

In [88]:
cov_temp_humidity = df['Temperature'].cov(df['Humidity'])

In [89]:
cov_temp_humidity

119.45